<div class="main-content">
  <div class="container-fluid">
   
      <div class="row">
        <div class="col-lg-2 col-md-2"> </div>
          <div class="col-lg-8 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Gestion des telephones</h4>
                      <p class="card-category">Ajouter, Modifier ou supprimer un Télephone</p>
                  </div>
                  <br>
                 <div style="margin:0 auto;width: 90;">
                    <button (click)="addModele()" mat-raised-button class="btn btn-success">Ajouter Telephone <i class="material-icons">add</i></button>
                   
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Marque</th>
                              <th>Modéle</th>
                              <th>Description</th>
                              <th>Prix</th>
                              <th>Carteristiques</th>
                              <th>Modifier</th>
                              <th>Supprimer</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let modele of modeles">
                              <td >
                                {{modele.marqueName}}
                             </td>
                             <td>
                                 {{modele.modele}}

                             </td>
                             <td>
                                {{modele.description}}
                             </td>
                             <td>
                                 {{modele.prix}}
                             </td>
                             <td>
                               Caracteristiques
                             </td>
                            
                                <td>
                                    <button (click)="updateModele(modele.id,modele.modele,modele.description,modele.prix)" mat-raised-button type="edit" matTooltip="Modifier" 
                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                  
                                </td>
                                <td>
                                     <button (click)="deleteModele(modele.id)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>          


                                </td>          
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
