<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-5">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Modifier mot de passe</h4>
                      <p class="card-category"> Veuillez saisir votre nouveau mot de passe !  </p>
                  </div>
                  <div class="card-body">
                          <form (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nouveau mot de passe" id="password" required name="password" [(ngModel)]="password" type="password">
                                </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nouveau mot de passe" id="password2" required [(ngModel)]="password2" name="password2" type="password">
                                  </mat-form-field>
                              </div>
                            </div>
                         
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
